html, body {
  height: 100%;
}
  

body {
    background: url("https://live.staticflickr.com/65535/54434249038_52b98053dc_o.jpg") no-repeat center
      center fixed;
    background-size: cover;
    display:flex;
    font-family: "Oranienbaum", Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
  }
  

  .logo {
    top: 20px;
    position: absolute;
    left: 30px;
    width: 210px;
    background-color: black;
    padding: 12px;
    border-radius: 8px;
  }

  .logo img {
    width: 100%;
    background-color: black;
  }
  
  /* Caixa principal do jogo */
  .conteudojogo {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  .container {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px #654143;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
  }

  
  /* Títulos e textos */
  h2,
  p {
    color: white;
  }
  
  /* Estrutura do questionário */
  .questionario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Área de conteúdo */
  .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 20px;
    width: 540px;
  }
  
  /* Estilo da pergunta */
  .pergunta {
    font-weight: 600;
    color: white;
  }
  
  /* Progresso da pergunta */
  .progresso {
    text-align: end;
    font-size: small;
    font-weight: 500;
    color: white;
  }
  
  /* Área das respostas */
  .respostas {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
  }
  
  /* Botões de resposta */
  .botao-resposta {
    width: 100%;
    height: 2.5rem;
    text-align: start;
    padding: 8px;
    border: none;
    cursor: pointer;
    background: #654143;
    color: white;
    border-radius: 8px;
  }

  .btnReiniciar {
    background: #654143;
    border: none;
    padding: 10px 20px;
    margin: 0 20px;
    font-size: 1em;;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    color: white;
  }
  
  .botao-resposta:hover {
    background: #19caca;
    font-weight: 600;
  }
  
  /* Tela de fim do jogo */
  .fim {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .fim span {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    color: white;
  }
  
  